body {
    background-image: url('./../assets/images/mainBackground.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000; /* Fallback color */
    margin: 0;
}
