/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

/* Fonts */
:root {
  /* Font Families */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Abhaya Libre', Times, serif;
  --font-cursive: 'Clicker Script', cursive;
  

  /* heading font sizes */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-lg: 1.125rem; /* 18px */
  --fs-xl: 1.25rem; /* 20px */
  --fs-2xl: 1.5rem; /* 24px */
  --fs-3xl: 1.875rem; /* 30px */
  --fs-4xl: 2.25rem; /* 36px */
  --fs-5xl: 3rem; /* 48px */
  --fs-6xl: 3.75rem; /* 60px */
  --fs-7xl: 4.5rem; /* 72px */
  --fs-8xl: 6rem; /* 96px */
  --fs-9xl: 8rem; /* 128px */

  /* Font Weights */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
}

/* Colors */
:root {
  /* Background Colors */
  --bg-base: #e8dfec; 
  --bg-base-lt: #f2f2f2;
  
  /* Text Colors */
  --text-base: #111111;
  --text-base-lt: #393939;
  --text-base-ltr: #f1f1f1;

  --color-primary: #C1D1E5;

} 

/* Custom scrollbar styles for WebKit browsers */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: var(--bg-base-ltr);
}
body::-webkit-scrollbar-thumb {
  background: var(--text-base-lt);
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--text-base)
}

body {
  background-color: var(--bg-base);
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);
  color: var(--text-base);
  margin: auto;
}

.login-card {
  color: var(--text-base-ltr);
  background: transparent;
  width: 350px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px black;
  border-radius: 20px;
}

.container {
  height: 80vh;
}

/* ======================================== Header ======================================== */

.header {
  min-height: 10vh;
}
.header-bg {
  background-color: var(--color-primary);
}
.header-icon {
    width: 65px;
    height: 65px;
}
.header-title {
  font-family: var(--font-primary);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-normal);
  color: var(--text-base);
  letter-spacing: 1px;
}


/* ======================================== Hero Page (index) ======================================== */


/* ======================================== Register ======================================== */


.card-body {
  color: var(--text-base-lt);
}

.login_card-title {
  font-size: var(--fs-3xl);
}